{% extends "base.html" %}
{% block title %}News - Article Detail{% endblock %}

{% block content %}
<form action="{{url_for('new_article')}}" method="post">
	<label for="title">Title: <input type="text" name="title" /></label><br />
	<label for="slug">Slug: <input type="text" name="slug" /></label><br />
	<label for="lead">Lead: <input type="text" name="lead" /></label><br />
	<label for="body">Article body: <textarea name="text" name="body"></textarea></label>
  <button type="submit">Submit Article</button>
</form>
<p><a href="{{url_for('main_page')}}">Back to list</a></p>
{% endblock %}
